@media screen and (max-width: 767px)
    .snd-code
        margin-bottom 20px

        .snd-code-titulo
            font-size 1.1em
            font-weight 700
            margin 0px
            color azul-2
        
        .snd-code-container
            display flex
            overflow hidden
            min-height 50px
            flex-direction: column
            
            pre
                flex-grow 1
                height auto
                margin-bottom 0px

            .button
                min-width auto
                padding 0px 15px
                min-height 34px
                border-radius 0px 0px 3px 3px
                margin 0px

                span
                    margin-right 0px

    .snd-code pre, pre, .snd-code .hll
        background-color gris-1
        padding 6px 10px
        border-radius 3px 0px 0px 3px
        color azul-2
        font-size 1em
        height 45px
        overflow-y hidden