@media screen and (max-width: 768px)
    .snd-global-container.vertical .snd-container, .snd-global-container.vertical .snd-container.l, .snd-global-container.vertical .snd-container.m, .snd-global-container.vertical .snd-container.s
        padding 70px 5px 10px 5px
        z-index 9
        width 100%
        height auto

        p
            text-align: justify
    .up
        display none !important

    .container
        padding 0px