@media screen and (max-width: 768px)
    .snd-grid-container
        overflow: inherit !important
        .snd-grid-main
            height auto
            &.scrollable
                .snd-grid-body
                    width 100%
                    height 100vh !important
                    overflow-y: inherit !important

            .snd-grid-row.snd-grid-head
                display none

            .snd-grid-body-container
                .snd-grid-row.snd-grid-body
                    display: flex
                    width 100%
                    transition all 150ms ease-in-out
                    margin 2px auto
                    border none
                    flex-direction: column
                    align-content: center
                    background-color: gris-1
                    justify-content: center
                    padding 10px 0px

                    .snd-grid-item
                        font-size 0.9em
                        padding 2px 10px
                        text-align left
                        transition all 150ms ease-in-out
                        border-right none
                        background-color: transparent !important
                        width 100%
                        display block

                        .snd-grid-mobile-title
                            display inline
                            font-weight 700
                            color azul-2
                            margin-right 5px
                
                        &:last-child
                            border-right none
                        
                    &:nth-child(even) .snd-grid-item
                        background-color transparent !important

            .snd-grid-search-container
                .snd-grid-search
                    display flex
                    align-items: center
                    margin-bottom: 10px
                    span
                        line-height: 1.2em
                        margin-right: 5px
                        color azul-2
                        font-weight: 700
                        font-size: 1.2em
                        cursor pointer
                    input
                        width 100%
                        max-width 100%
                        border-radius 0px
                        border-top none
                        border-right none
                        border-left none
                        border-bottom 2px solid azul-2
                        transition all 550ms ease-in-out
                        padding-right 0px !important
                        padding-left 0px !important

                        &.open
                            width 100%
        .pagination
            width 100%
            display flex
            justify-content: center
            margin 10px 0px
            padding-top 10px
            flex-wrap: wrap

            span
                cursor pointer
                color azul-2
                padding: 2px 5px
                border-radius 3px
                transition all 150ms ease-in-out

                &:hover
                    background-color: gris-1
                    color azul-3

                &.selected
                    background-color: azul-2
                    color white

                &.disable span
                    color alpha(azul-2, 30%)
                    cursor default

                &.disable:hover, &.disable:hover span
                    background-color: transparent

    .snd-grid-detail-container
        position fixed
        top 0
        left 0
        width 100%
        height 100vh
        background-color alpha(white, 90%)
        z-index 999999

        .snd-grid-detail-close
            position absolute
            top -10px
            right -10px
            color azul-2
            cursor pointer
            transition all 200ms ease-in-out
            background-color: white
            z-index 99999

            &:hover
                color azul-3
        .snd-grid-detail
            position absolute
            top 50%
            left 50%
            transform translateX(-50%) translateY(-50%)
            width 90vw
            background-color: white
            padding 20px 
            border-radius 3px
            border 2px solid gris-2

            header
                h1
                    border-color azul-1

            .loading-overlay
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background-color: alpha(white, 80%)
                z-index 999
                display flex
                align-items: center
                justify-content: center
                border 1px solid gris-1
                border-radius 3px
    
    .snd-grid-custom-detail-overlay
        width 100vw
        height 100vh
        position fixed
        top 0
        left 0
        background-color: alpha(white, 90%)
        z-index 999999

        .snd-grid-custom-detail
            position fixed
            top 50%
            left 50%
            transform: translateX(-50%) translateY(-50%)
            height 90vh
            width 90vw
            display flex
            align-items center
            justify-content: center
            background-color: white
            z-index 9
            overflow-y auto
            border 2px solid gris-2
            padding 15px 5px 5px 5px
            border-radius 5px

            .snd-grid-detail-close
                position absolute
                top 3px
                right 10px
                color azul-2
                cursor pointer
                transition all 200ms ease-in-out

                &:hover
                    color azul-3

            .snd-grid-custom-detail-content
                padding 10px
                width 960px
                height 100%