@media screen and (max-width: 768px)
    .snd-menu,.snd-menu.vertical
        flex-direction: column
        display block
        margin-bottom 0px
        background-color: azul-2
        position absolute
        top 0
        left 0
        width 100%
        max-width 100%
        z-index 99999

        .snd-mobile-menu
            display flex
            position absolute
            top 0px
            left 0
            color white
            height 60px
            width 60px
            align-items: center
            justify-content: center
            z-index 99999

            &.menu-open
                background-color: azul-2
                color white
        
        .navbar
            display flex
            justify-content: center
            align-content: center
            align-items: center
            border-bottom none
            position relative
            min-height 60px
            height auto
            width 100%

            .scrollarea
                width 100%
                overflow visible
                .scrollarea-content
                    overflow visible

            .navbar-brand
                background-image: url('snd_logo_mobile.png')
                background-color: transparent

            .navbar-nav
                border none
                margin-bottom 0px !important
                margin-top 0px
                flex-direction: column
                position absolute
                left 0
                top 3px
                background-color: azul-2
                width 100%
                display none
                border-top 1px solid alpha(azul-1, 40%)

                &.open
                    display block

            .navbar-brand
                width 100px
                margin 0 auto
                margin-bottom: 0px
                img
                    width 100%
            
            #user-data-container
                position relative
                top auto
                right auto
                bottom auto
            
            .nav-item
                display block
                list-style none
                position relative
                transition all 100ms ease-in-out
                border-radius 0px
                border-right none
                width 100%
                
                .nav-link
                    color white
                    font-size 1.1em
                    border-radius 0px
                    padding 10px
                    cursor pointer

                    &.show
                        border-left 5px solid alpha(azul-1, 80%)
                        background-color: alpha(azul-3, 50%)

                    &:hover
                        border-left 3px solid transparent

                    &.show + .nav-dropdown ,&.active + .nav-dropdown
                        display block

                ul.nav-dropdown
                    display none
                    width auto
                    min-width 150px
                    padding-left 0px
                    background-color azul-2
                    margin-top 7px
                    border-radius 3px                
                    margin-bottom 0px !important

                    li
                        text-align left
                        border none
                        border-radius 5px
                        padding 2px 0px

                        a
                            font-size 0.9em
                            color white
                            padding 10px 20px 10px 40px
                            background-color transparent                        

                            &:hover
                                background-color transparent
                                color gris-1
        
        #user-data-container
            #user-data
                .user-icon
                    color white !important
                p
                    color white
                    font-size: 0.65em
                    font-weight: 400