@import '_colors.styl' 

// Buttons
.button
    border none
    font-size 1em
    padding 5px 10px
    background-color azul-2
    transition background-color 200ms ease-in-out
    color #fff
    border-radius 3px
    min-width 100px
    height 20px
    display inline-block
    margin 0px 10px 10px 0px
    text-align center
    position relative
    line-height 20px
    cursor pointer
    box-sizing content-box
    background-repeat no-repeat
    z-index 1

    span
        margin-right 5px

    span.text
        margin 0px

    &:focus
        border none 
        outline none

    &:hover
        color #fff
        background-color azul-3

    &.center
        left 50%
        transform translateX(-50%)

    &.aceptar
        background-color verde

        &:hover
            background-color darken(verde, 10%)

    &.cancelar
        background-color rojo

        &:hover
            background-color darken(rojo, 10%)

.col
    .button
        margin-top 27px