.snd-code
    margin-bottom 20px

    .snd-code-titulo
        font-size 1.1em
        font-weight 700
        margin 0px
        color azul-2
    
    .snd-code-container
        display flex
        overflow hidden
        min-height 50px
        pre
            flex-grow 1
            height auto

        .button
            min-width auto
            padding 0px 15px
            min-height 34px
            border-radius 0px 3px 3px 0px
            margin 0px

            span
                margin-right 0px

.snd-code pre, pre, .snd-code .hll
    background-color gris-1
    padding 6px 10px
    border-radius 3px 0px 0px 3px
    color azul-2
    font-size 1em
    height 45px
    overflow-y hidden

p
    pre
        display: inline