azul-1 = #002a4d
azul-2 = #005399
azul-3 = #006fcc
gris-1 = #ededed
gris-2 = #e0e0e0
gris-3 = #c0c0c0
verde = #27ae60
rojo = #c0392b

// Colores de fondo
.bg-azul-1
    background-color: azul-1;


.bg-azul-2
    background-color: azul-2;


.bg-azul-3
    background-color: azul-3;


.bg-gris-1
    background-color: gris-1;


.bg-verde
    background-color: verde;


.bg-rojo
    background-color: rojo;