// Content
.snd-container
    margin-right auto
    margin-left auto
    font-size 0.8em !important

    &.s
        width 50%
    &.m
        width 66%
    &.l
        width 90%

    .up
        position fixed
        bottom 50px
        right 15px
        width 50px
        height 50px
        border-radius 50%
        overflow hidden
        background-color azul-2
        display flex
        justify-content center
        align-items center
        color white
        font-size 1.5em
        cursor pointer
        transition all 200ms ease-in-out
        opacity 0
        z-index 99999
        box-shadow: 0px 0px 30px alpha(black, 50%)

        &.show
            opacity 1

        &:hover
            background-color azul-3
            box-shadow: 0px 0px 15px alpha(black, 70%)

        span
            margin-bottom 5px

.snd-global-container.horizontal
    width 90vw
    margin 0 auto

.snd-global-container
    &.vertical
        max-width 100%
        display flex
        justify-content: flex-end

        .snd-container,.snd-container.l,.snd-container.m,.snd-container.s
            width calc(100% - 250px)
            overflow hidden
            margin 0px
            padding 20px

            .up
                bottom 10px
                width 30px
                height 30px
                font-size: 1em

                span
                    margin-bottom 2px

h1
    font-size 2em
    font-weight 700
    color azul-2

h2
    font-size 1.8em
    font-weight 700
    color azul-2    

h3
    font-size 1.5em
    font-weight 700
    color azul-2

h4
    font-size 1.3em
    color azul-2

h5
    font-size 1.2em
    color azul-2

h6
    font-size 1em
    color azul-2

p
    font-size 1em
    line-height 1.5em
    margin 15px 0px
    color azul-2

a
    color azul-3
    transition color 150ms ease-in-out
    text-decoration none
    border-bottom 1px dashed transparent
    transition all 150ms ease-in-out

    &:hover
        color azul-2
        border-bottom-color azul-2
        text-decoration none

ul, ol
    padding-left 18px
    margin 0px 0px 25px 0px
    margin-top 0px
    margin-bottom 25px !important
    margin-left 0px
    margin-right 0px

    li
        color azul-2
            
    .list-group-item
        border-color alpha(azul-2, 10%)

button
    cursor pointer

header
    margin-top: 20px
    &:first-child
        margin-top: 0px
    h1
        border-bottom 1px solid alpha(azul-2, 10%)
        font-size 1.8em
        font-weight 700
        padding-bottom 5px
        margin-bottom 10px

.hide
    display none !important

.txt-center
    text-align: center

.snd-breadcrumbs-container
    margin-bottom 30px
    .snd-breadcrumbs
        a
            color azul-2
        span
            color azul-2
            &.fa
                margin 0px 5px
            &.fa:first-child
                margin 0px

.center
    text-align: center

.snd-message
    background-color gris-1
    padding 10px
    text-align center
    border-radius 3px
    border 1px solid gris-2
    margin-top 20px
    width 90%
    margin 20px auto 0px auto
    p
        font-size 1em
        font-weight 400
        color darken(gris-2, 40%)