// Forms
form
    &.s
        width 33%

    &.m
        width 50%
    
    &.l
        width 100%
    
    &.center
        margin-right auto
        margin-left auto

label
    font-size 14px
    font-weight 700
    width 100%
    color azul-2

span
    &.required
        margin-left 3px
        color rojo

    &.checkbox, &.radio
        display block
        font-weight 400
        margin 5px 0px

    &.checkbox > span, &.radio > span
        display inline

    &.checkbox input, &.radio input
        display inline
        width auto
        padding 0px
        margin 0px

input[type="text"],input[type="email"],input[type="password"]
    display block
    border 1px solid gris-3
    padding 5px !important
    border-radius 3px
    width calc(100% - 22px)
    font-size 0.9em !important 
    color azul-2

    &.fecha
        background-repeat no-repeat
        background-position 95% 50%
        background-size 20px

    &:focus
        border 1px solid #e0e0e0
        outline none
        &.error
            box-shadow none
            border-color red

    &.error
        border-color rojo

textarea
    padding 5px !important
    font-size 0.9em !important 

    &.error
        border-color rojo

select.form-control
    display block
    margin 5px 0px
    border 1px solid gris-3
    padding 5px 10px !important
    border-radius 3px
    height calc(1.7rem + 2px) !important
    margin-top 0px !important
    font-size 0.9em !important 
    line-height: 0.9em

    &:focus
        border 1px solid #e0e0e0
        outline none

.btn
    background-color azul-3
    color white
    border none

    &:hover
        background-color azul-2

.input-group-text
    padding 0rem .75rem
    font-size 1em
    border-color gris-2
    
.react-datepicker-wrapper
    width 100%

    .react-datepicker__input-container
        width 100%

        input 
            display block
            border 1px solid #ced4da
            padding 5px !important
            border-radius 3px
            width 100%
            font-size 0.9em !important
            background-position: 100% 50%

.react-datepicker__navigation--next:hover, .react-datepicker__navigation--previous:hover
    border-bottom-color transparent

.custom-file-label
    cursor pointer

.form-group
    position relative

.input-group + small
    position absolute
    top 91%
    left 0%
