// Grid
.snd-grid-container
    display flex
    justify-content center
    margin 0px 0px 20px 0px
    overflow hidden

    &.scrollable
        .snd-grid-head-container.add-border
            border-right 18px solid azul-2
    
    .snd-grid-main
        display: flex
        flex-direction: column
        width 100%
        margin 10px 0px 30px 0px
        border-spacing 0px

        .snd-grid-row.snd-grid-head
            display flex
            width 100%
            background-color azul-2

            .snd-grid-item
                flex: 1
                color #fff
                font-size 1em
                padding 10px
                text-align left
                border-right 1px solid darken(azul-2, 15%)

                &:last-child
                    border-right none

        .snd-grid-body-container
            overflow-y: auto
            .snd-grid-row.snd-grid-body
                display flex
                width 100%
                transition all 150ms ease-in-out
                
                .snd-grid-item
                    flex: 1
                    font-size 0.85em
                    padding 5px 10px
                    text-align left
                    transition all 150ms ease-in-out
                    border-right 1px solid gris-2

                    .snd-grid-mobile-title
                        display none
                    
                    &:last-child
                        border-right none
                    
                &:nth-child(even) .snd-grid-item
                    background-color #ededed
                    
        &.click-items
            .snd-grid-row.snd-grid-body
                cursor pointer
                &:hover .snd-grid-item, &:nth-child(even):hover .snd-grid-item
                    background-color gris-2

    .pagination
        display flex
        justify-content: center
        margin 10px 0px
        padding-top 10px

        span
            cursor pointer
            color azul-2
            padding: 2px 5px
            border-radius 3px
            transition all 150ms ease-in-out

            &:hover
                background-color: gris-1
                color azul-3

            &.selected
                background-color: azul-2
                color white

            &.disable span
                color alpha(azul-2, 30%)
                cursor default

            &.disable:hover, &.disable:hover span
                background-color: transparent
    
    .snd-grid-sorting-container
        .snd-grid-sorting
            display flex
            align-items: center
            margin-bottom: 10px
            span
                line-height: 1.2em
                margin-right: 5px
                color azul-2
                font-weight: 700
                font-size: 1.2em
            .sorting-selector
                position relative
                span
                    position absolute
                    right 0px
                    top 50%
                    transform translateY(-51%)
                select
                    background transparent
                    -webkit-appearance: none
                    -moz-appearance: none
                    appearance: none
                    display: inline
                    width auto
                    border none
                    color azul-2
                    font-weight: 700
                    font-size: 1.2em
                    padding 0px 20px 0px 0px
                    cursor pointer

    .snd-grid-search-container
        .snd-grid-search
            display flex
            align-items: center
            margin-bottom: 10px
            span
                line-height: 1.2em
                margin-right: 5px
                color azul-2
                font-weight: 700
                font-size: 1.2em
                cursor pointer
            input
                width 0px
                max-width 350px
                border-radius 0px
                border-top none
                border-right none
                border-left none
                border-bottom 2px solid azul-2
                transition all 550ms ease-in-out
                padding-right 0px !important
                padding-left 0px !important

                &.open
                    width 100%
                    
.snd-grid-detail-container
    position fixed
    top 0
    left 0
    width 100%
    height 100vh
    background-color alpha(white, 90%)
    z-index 999999

    .snd-grid-detail-close
        position absolute
        top -10px
        right -10px
        color azul-2
        cursor pointer
        transition all 200ms ease-in-out
        background-color: white
        z-index 99999

        &:hover
            color azul-3
    .snd-grid-detail
        position absolute
        top 50%
        left 50%
        transform translateX(-50%) translateY(-50%)
        width 50vw
        background-color: white
        padding 20px 
        border-radius 5px
        border 2px solid gris-2

        header
            h1
                border-color azul-1

        .loading-overlay
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-color: alpha(white, 80%)
            z-index 999
            display flex
            align-items: center
            justify-content: center
            border 1px solid gris-1
            border-radius 3px

.snd-grid-custom-detail-overlay
    width 100vw
    height 100vh
    position fixed
    top 0
    left 0
    background-color: alpha(white, 90%)
    z-index 999999

    .snd-grid-custom-detail
        position fixed
        top 50%
        left 50%
        transform: translateX(-50%) translateY(-50%)
        height 80vh
        width 80vw
        display flex
        align-items center
        justify-content: center
        background-color: white
        z-index 9
        overflow-y auto
        border 2px solid gris-2
        padding 20px
        border-radius 5px

        .snd-grid-detail-close
            position absolute
            top 10px
            right 10px
            color azul-2
            cursor pointer
            transition all 200ms ease-in-out

            &:hover
                color azul-3

        .snd-grid-custom-detail-content
            padding 10px
            width 960px
            height 100%