.snd-login-container
	width 100%
	min-height 100%
	display flex
	align-items: center
	justify-content: center

	.snd-login
		width 90%
		max-width 400px
		padding 20px
		border-radius 5px
		border 3px solid gris-1

		figure
			width 120px
			margin 10px auto 20px auto
			img
				width 100%

		form
			width 100%
			.form-group
				label
					margin-bottom 0px
				
				.input-group
					position relative
					span.fa
						position absolute
						z-index: 999
						left 0px
						top 50%
						transform translateY(-50%)
						color azul-2
					input
						border-top none
						border-left none
						border-right none
						border-bottom 1px solid azul-1
						border-radius 0px
						transition all 200ms ease-in-out
						padding-left 25px !important

						&:focus
							border-top none
							border-left none
							border-right none
							box-shadow none

		span.reset-password
			font-size: 0.8em
			display: inline-block
			text-align: center
			position relative
			left 50%
			transform: translateX(-50%)
			color azul-2
			cursor pointer

			&:hover
				color azul-2
				border-bottom-width 1px
				border-bottom-style: dashed
				border-bottom-color azul-2
				text-decoration none