// Menu
.snd-menu.vertical
    min-width 250px
    max-width 250px
    position fixed
    top 0
    left 0
    
    .snd-mobile-menu
        display none

    .navbar
        z-index 99
        height 100vh
        flex-direction: column
        padding 0px
        background-color: azul-2

        .scrollarea
            width 100%
            
            .scrollbar-container.vertical 
                width 8px
                opacity 0.5
                .scrollbar
                    background: azul-1
                    border-radius: 5px
                    width 5px

        .navbar-brand
            display block
            height 50px
            width 100%
            background-color alpha(azul-1, 40%)
            background-image: url('snd_logo_mobile.png')
            background-size: 90px
            background-position: center
            background-repeat: no-repeat
            margin 0px 0px
            transition unset
        
        .navbar-nav
            border none
            margin-bottom 0px !important
            margin-top 0px
            display: flex
            flex-direction: column
            width 100%
            
        .nav-item
            list-style none
            position relative
            transition all 100ms ease-in-out
            
            .nav-link
                color white
                font-size 0.8em
                cursor pointer
                padding 10px
                border-left 0px solid transparent
                border-bottom 1px solid alpha(azul-1, 40%)

                &:hover
                    border-left 5px solid transparent

                &.show, &.active
                    border-left 5px solid alpha(azul-1, 80%)
                    background-color: alpha(azul-3, 50%)
                &.active
                    border-left 5px solid white

                &.show + .nav-dropdown, &.active + .nav-dropdown
                    transform scaleY(1)
                    height auto

            ul.nav-dropdown
                width 100%
                height 0
                transform scaleY(0)
                transform-origin: top
                padding-left 0px
                margin-top 0px
                border-radius 3px                
                margin-bottom 0px !important
                overflow hidden
                transition all 200ms ease-in-out

                li
                    text-align left
                    border none
                    border-radius 5px
                    width 100%

                    a
                        display block
                        font-size 0.7em
                        color white
                        padding 10px 20px
                        background-color: alpha(azul-3, 50%)
                        font-weight: 400

                        &:hover
                            background-color: azul-3
                            border-left-color transparent
                &.open
                    display block
    
    #user-data-container
        display inline-block
        position relative
        width 100%
        margin-bottom 3px

        #user-data
            display flex
            flex-direction row
            align-items: center
            justify-content: center

            &:after
                content ''
                display block
                position absolute
                top 100%
                left 50%
                transform translateX(-50%)
                height 3px
                width 100%
                background-color alpha(azul-1, 20%)

            figure
                width 30px
                height 30px
                border-radius 50%
                overflow hidden
                position relative
                margin 0px 5px 0px 0px

                img 
                    position absolute
                    top 50%
                    left 50%
                    transform translateX(-50%) translateY(-50%)
                    width 50%

            p
                font-size 0.9em
                font-weight 700
                color white
                margin 5px 0px 5px 0px
            
            span.user-icon
                color white
                font-size: 0.8em
                margin-right: 10px
            
            span.logout
                background-color: azul-2
                color white
                font-size: 0.8em
                padding 3px 5px
                border-radius 3px
                margin-left: 10px
                cursor pointer
                transition all 150ms ease-in-out

                &:hover
                    background-color: white
                    color azul-3