// Menu
.snd-menu.horizontal
    margin-bottom 50px
    
    .snd-mobile-menu
        display none

    .navbar
        border-bottom 4px solid azul-2
        padding-bottom 10px
        z-index 99

        .scrollarea
            overflow: visible
            .scrollarea-content
                overflow visible

        .navbar-brand
            height 35px
            width 100px
            background-image: url('snd_logo.gif')
            background-size: 90px
            background-position: center
            background-repeat: no-repeat
            
            img
                display none
        
        a
            border none
        
        .navbar-nav
            border none
            margin-bottom 0px !important
            margin-top 0px
            
        .nav-item
            list-style none
            position relative
            transition all 100ms ease-in-out
            border-radius 0px
            border-right 1px solid gris-2
            padding-bottom 0px

            &:last-child
                border-right none
            
            a
                color azul-1
                font-size 0.9em
                border-radius 0px
                padding 2px 10px
                cursor pointer

            &:hover
                border-right 1px solid transparent
                a
                    background-color azul-2
                    color white
                    border-radius 3px                    

            ul.nav-dropdown
                display none
                position absolute
                top calc(100% - 3px)
                left 50%
                width auto
                min-width 150px
                padding-left 0px
                background-color azul-2
                margin-top 0px
                transform translateX(-50%)
                border-radius 3px                
                margin-bottom 0px !important

                li
                    text-align left
                    border none
                    border-radius 5px

                    a
                        font-size 0.7em
                        color white
                        padding 10px 20px
                        background-color transparent                        

                        &:hover
                            background-color azul-3
                            color gris-1
            &:hover
                ul.nav-dropdown
                    display block

                span
                    display block
    
    #user-data-container
        display inline-block
        position absolute
        bottom 0px
        right 0px

        #user-data
            display flex
            align-items: center

            figure
                width 30px
                height 30px
                border-radius 50%
                overflow hidden
                position relative
                margin 0px 5px 0px 0px

                img 
                    position absolute
                    top 50%
                    left 50%
                    transform translateX(-50%) translateY(-50%)
                    width 50%

            p
                font-size 0.9em
                font-weight 700
            
            span.user-icon
                color azul-2
                font-size: 0.8em
                margin-right: 5px
            
            span.logout
                background-color: gris-2
                color azul-2
                font-size: 0.8em
                padding 3px 5px
                border-radius 3px
                margin-left: 10px
                cursor pointer
                transition all 150ms ease-in-out

                &:hover
                    background-color: azul-2
                    color white