// Modal
#modal-overlay
    position fixed
    top 0px
    left 0px
    width 100%
    height 100vh
    background-color rgba(255,255,255,0.9)
    z-index 999
    font-family font-family

    #modal-container
        width 50%
        padding 20px
        border-radius 3px
        position absolute
        top 50%
        left 50%
        transform translateX(-50%) translateY(-50%)
        background-color #fff
        /*border 1px solid #e0e0e0*/
        box-shadow 0px 0px 10px rgba(0,0,0,0.2)

        p, #cont-botones
            text-align center

            .boton
                display inline-block

        #btn-cerrar-modal
            border-radius 50%
            background-color #005399
            width 30px
            height 30px
            color #fff
            font-size 14px
            position absolute
            top -10px
            right -10px
            background-image url('btn_cerrar_modal.png')
            background-repeat no-repeat
            background-position 50% 50%
            background-size 10px
            cursor pointer

        iframe
            border none
            width 100%