.snd-searchbox
    position relative
    
    ul
        display block
        position absolute
        top 100%
        left 0px
        list-style none
        padding 0px
        margin 0px
        max-height 150px
        overflow-y scroll
        background-color white
        z-index 999
        min-width 100%

        &.hide
            display: none
        
        li
            display block
            cursor pointer
            padding 5px 10px
            font-size 12px
            
            &:hover
                background-color #006fcc
                color white

    input + span.error
        font-size 11px;
        color red
        position absolute
        top calc(100% + 3px)
        left 7px