// Sections
section
    margin 30px auto
    border 1px solid alpha(azul-2, 20%)
    padding 10px
    border-radius 3px

    header
        margin-top 0px
        position relative

        h1
            display: inline-block
            width 100%
            color azul-2
            border-bottom 1px solid alpha(azul-2, 20%)
            font-size 1.5em
            padding-bottom 10px
            margin-bottom 10px

    h2
        font-size 1.3em
        color #005399
        font-style italic
        font-weight 400
    
    p
        text-align: justify

    &.expandible
        height 43px
        overflow hidden
        transition all 500ms ease-in-out

        &.expanded
            height fit-content
        
        h1 
            transition all 200ms ease-in-out
        
        h1:hover
            cursor pointer
            color azul-3

        .snd-section-btn
            width 20px
            height 20px
            border-radius: 50%
            position absolute
            top 0
            right 0
            display flex
            justify-content: center
            align-items: center
            color azul-2
            font-size: 1.6em
            cursor pointer
            transition all 200ms ease-in-out

            &:hover
                color azul-3

        