// Tables
table
    width 100%
    margin 30px 0px
    border-spacing 0px
    border-collapse none
    border-color none

    thead 
        tr 
            th
                background-color azul-2
                color #fff
                font-size 1em
                padding 10px
                text-align left
                border-right 1px solid darken(azul-2, 15%)

                &:first-child
                    // border-radius 3px 0px 0px 0px

                &:last-child
                    // border-radius 0px 3px 0px 0px
                    border-right none

    tbody 
        tr 
            transition all 150ms ease-in-out
            
            td
                font-size 1em
                padding 10px
                text-align left
                transition all 150ms ease-in-out

            &:nth-child(even) td
                background-color #ededed

            &:last-child td:first-child
                border-radius 0px 0px 0px 3px

            &:last-child td:last-child
                border-radius 0px 0px 3px 0px

    &.click-items
        tbody
            tr
                cursor pointer
            
                &:hover, &:nth-child(even):hover
                    box-shadow: 3px 0px 0px alpha(azul-1, 35%), -3px 0px 0px alpha(azul-1, 35%)
                
                &:hover td, &:nth-child(even):hover td
                    background-color gris-2
                    transform-origin 25% 50%
                    // transform scale(1.05)
                    z-index: 999

.snd-table-container
    display flex
    justify-content center
    margin 0px 0px 20px 0px
    .snd-table-message
        background-color gris-1
        padding 10px
        text-align center
        border-radius 3px
        border 1px solid gris-2
        margin-top 20px
        p
            font-size 1em
            font-weight 400
            color darken(gris-2, 40%)