.snd-toast-container.horizontal
	position fixed
	top 0px
	left 50%
	transform translateX(-50%) translateY(-110%)
	font-family font-family
	background-color azul-2
	border-radius 3px
	padding 20px
	box-shadow 0px 0px 3px alpha(azul-1, 50%)
	z-index 999999
	transition all 300ms ease-in-out

	&.show
		transform translateX(-50%) translateY(0%)
		top 20px
	p
		color white
		font-size 1em

.snd-toast-container.vertical
	position fixed
	top 20px
	right -100%
	font-family font-family
	background-color azul-2
	border-radius 3px
	padding 20px
	box-shadow 0px 0px 3px alpha(azul-1, 50%)
	z-index 999999
	transition all 500ms ease-in-out

	&.show
		right calc(0% + 20px)
	p
		color white
		font-size 1em