@require './_*.styl'
@require './mobile/_*.styl'

// Estilos específicos
#grupo-colores{
    margin: 30px 0px;
}

#grupo-colores .color{
    float: left;
    width: 100px;
    margin-right: 30px;
}

#grupo-colores .color:last-child{
    margin-right: 0px;
}

#grupo-colores .color .muestra{
    width: 100px;
    height: 100px;
}

#grupo-colores .color span{
    margin: 2px 0px;
    display: block;
    font-size: 11px;
}