.bg-azul-1 {
  background-color: #002a4d;
}
.bg-azul-2 {
  background-color: #005399;
}
.bg-azul-3 {
  background-color: #006fcc;
}
.bg-gris-1 {
  background-color: #ededed;
}
.bg-verde {
  background-color: #27ae60;
}
.bg-rojo {
  background-color: #c0392b;
}
.button {
  border: none;
  font-size: 1em;
  padding: 5px 10px;
  background-color: #005399;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  color: #fff;
  border-radius: 3px;
  min-width: 100px;
  height: 20px;
  display: inline-block;
  margin: 0px 10px 10px 0px;
  text-align: center;
  position: relative;
  line-height: 20px;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-repeat: no-repeat;
  z-index: 1;
}
.button span {
  margin-right: 5px;
}
.button span.text {
  margin: 0px;
}
.button:focus {
  border: none;
  outline: none;
}
.button:hover {
  color: #fff;
  background-color: #006fcc;
}
.button.center {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.button.aceptar {
  background-color: #27ae60;
}
.button.aceptar:hover {
  background-color: #239d56;
}
.button.cancelar {
  background-color: #c0392b;
}
.button.cancelar:hover {
  background-color: #ad3327;
}
.col .button {
  margin-top: 27px;
}
.snd-code {
  margin-bottom: 20px;
}
.snd-code .snd-code-titulo {
  font-size: 1.1em;
  font-weight: 700;
  margin: 0px;
  color: #005399;
}
.snd-code .snd-code-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 50px;
}
.snd-code .snd-code-container pre {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: auto;
}
.snd-code .snd-code-container .button {
  min-width: auto;
  padding: 0px 15px;
  min-height: 34px;
  border-radius: 0px 3px 3px 0px;
  margin: 0px;
}
.snd-code .snd-code-container .button span {
  margin-right: 0px;
}
.snd-code pre,
pre,
.snd-code .hll {
  background-color: #ededed;
  padding: 6px 10px;
  border-radius: 3px 0px 0px 3px;
  color: #005399;
  font-size: 1em;
  height: 45px;
  overflow-y: hidden;
}
p pre {
  display: inline;
}
.bg-azul-1 {
  background-color: #002a4d;
}
.bg-azul-2 {
  background-color: #005399;
}
.bg-azul-3 {
  background-color: #006fcc;
}
.bg-gris-1 {
  background-color: #ededed;
}
.bg-verde {
  background-color: #27ae60;
}
.bg-rojo {
  background-color: #c0392b;
}
.row {
  margin: 20px 0px;
}
.row .col {
  padding: 0px;
  margin-right: 20px;
  text-align: justify;
}
.row .col:last-child {
  margin-right: 0px;
}
.snd-container {
  margin-right: auto;
  margin-left: auto;
  font-size: 0.8em !important;
}
.snd-container.s {
  width: 50%;
}
.snd-container.m {
  width: 66%;
}
.snd-container.l {
  width: 90%;
}
.snd-container .up {
  position: fixed;
  bottom: 50px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #005399;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0;
  z-index: 99999;
  -webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
          box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}
.snd-container .up.show {
  opacity: 1;
}
.snd-container .up:hover {
  background-color: #006fcc;
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.7);
          box-shadow: 0px 0px 15px rgba(0,0,0,0.7);
}
.snd-container .up span {
  margin-bottom: 5px;
}
.snd-global-container.horizontal {
  width: 90vw;
  margin: 0 auto;
}
.snd-global-container.vertical {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.snd-global-container.vertical .snd-container,
.snd-global-container.vertical .snd-container.l,
.snd-global-container.vertical .snd-container.m,
.snd-global-container.vertical .snd-container.s {
  width: calc(100% - 250px);
  overflow: hidden;
  margin: 0px;
  padding: 20px;
}
.snd-global-container.vertical .snd-container .up,
.snd-global-container.vertical .snd-container.l .up,
.snd-global-container.vertical .snd-container.m .up,
.snd-global-container.vertical .snd-container.s .up {
  bottom: 10px;
  width: 30px;
  height: 30px;
  font-size: 1em;
}
.snd-global-container.vertical .snd-container .up span,
.snd-global-container.vertical .snd-container.l .up span,
.snd-global-container.vertical .snd-container.m .up span,
.snd-global-container.vertical .snd-container.s .up span {
  margin-bottom: 2px;
}
h1 {
  font-size: 2em;
  font-weight: 700;
  color: #005399;
}
h2 {
  font-size: 1.8em;
  font-weight: 700;
  color: #005399;
}
h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: #005399;
}
h4 {
  font-size: 1.3em;
  color: #005399;
}
h5 {
  font-size: 1.2em;
  color: #005399;
}
h6 {
  font-size: 1em;
  color: #005399;
}
p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 15px 0px;
  color: #005399;
}
a {
  color: #006fcc;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  text-decoration: none;
  border-bottom: 1px dashed transparent;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
a:hover {
  color: #005399;
  border-bottom-color: #005399;
  text-decoration: none;
}
ul,
ol {
  padding-left: 18px;
  margin: 0px 0px 25px 0px;
  margin-top: 0px;
  margin-bottom: 25px !important;
  margin-left: 0px;
  margin-right: 0px;
}
ul li,
ol li {
  color: #005399;
}
ul .list-group-item,
ol .list-group-item {
  border-color: rgba(0,83,153,0.1);
}
button {
  cursor: pointer;
}
header {
  margin-top: 20px;
}
header:first-child {
  margin-top: 0px;
}
header h1 {
  border-bottom: 1px solid rgba(0,83,153,0.1);
  font-size: 1.8em;
  font-weight: 700;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.hide {
  display: none !important;
}
.txt-center {
  text-align: center;
}
.snd-breadcrumbs-container {
  margin-bottom: 30px;
}
.snd-breadcrumbs-container .snd-breadcrumbs a {
  color: #005399;
}
.snd-breadcrumbs-container .snd-breadcrumbs span {
  color: #005399;
}
.snd-breadcrumbs-container .snd-breadcrumbs span.fa {
  margin: 0px 5px;
}
.snd-breadcrumbs-container .snd-breadcrumbs span.fa:first-child {
  margin: 0px;
}
.center {
  text-align: center;
}
.snd-message {
  background-color: #ededed;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  margin-top: 20px;
  width: 90%;
  margin: 20px auto 0px auto;
}
.snd-message p {
  font-size: 1em;
  font-weight: 400;
  color: #868686;
}
footer {
  width: 100%;
  height: 20px;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  border-top: 1px solid #e0e0e0;
}
footer p {
  text-align: center;
  font-size: 10px;
  margin: 0px;
}
form.s {
  width: 33%;
}
form.m {
  width: 50%;
}
form.l {
  width: 100%;
}
form.center {
  margin-right: auto;
  margin-left: auto;
}
label {
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  color: #005399;
}
span.required {
  margin-left: 3px;
  color: #c0392b;
}
span.checkbox,
span.radio {
  display: block;
  font-weight: 400;
  margin: 5px 0px;
}
span.checkbox > span,
span.radio > span {
  display: inline;
}
span.checkbox input,
span.radio input {
  display: inline;
  width: auto;
  padding: 0px;
  margin: 0px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  border: 1px solid #c0c0c0;
  padding: 5px !important;
  border-radius: 3px;
  width: calc(100% - 22px);
  font-size: 0.9em !important;
  color: #005399;
}
input[type="text"].fecha,
input[type="email"].fecha,
input[type="password"].fecha {
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 20px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border: 1px solid #e0e0e0;
  outline: none;
}
input[type="text"]:focus.error,
input[type="email"]:focus.error,
input[type="password"]:focus.error {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #f00;
}
input[type="text"].error,
input[type="email"].error,
input[type="password"].error {
  border-color: #c0392b;
}
textarea {
  padding: 5px !important;
  font-size: 0.9em !important;
}
textarea.error {
  border-color: #c0392b;
}
select.form-control {
  display: block;
  margin: 5px 0px;
  border: 1px solid #c0c0c0;
  padding: 5px 10px !important;
  border-radius: 3px;
  height: calc(1.7rem + 2px) !important;
  margin-top: 0px !important;
  font-size: 0.9em !important;
  line-height: 0.9em;
}
select.form-control:focus {
  border: 1px solid #e0e0e0;
  outline: none;
}
.btn {
  background-color: #006fcc;
  color: #fff;
  border: none;
}
.btn:hover {
  background-color: #005399;
}
.input-group-text {
  padding: 0rem 0.75rem;
  font-size: 1em;
  border-color: #e0e0e0;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker-wrapper .react-datepicker__input-container {
  width: 100%;
}
.react-datepicker-wrapper .react-datepicker__input-container input {
  display: block;
  border: 1px solid #ced4da;
  padding: 5px !important;
  border-radius: 3px;
  width: 100%;
  font-size: 0.9em !important;
  background-position: 100% 50%;
}
.react-datepicker__navigation--next:hover,
.react-datepicker__navigation--previous:hover {
  border-bottom-color: transparent;
}
.custom-file-label {
  cursor: pointer;
}
.form-group {
  position: relative;
}
.input-group + small {
  position: absolute;
  top: 91%;
  left: 0%;
}
.snd-grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 20px 0px;
  overflow: hidden;
}
.snd-grid-container.scrollable .snd-grid-head-container.add-border {
  border-right: 18px solid #005399;
}
.snd-grid-container .snd-grid-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 10px 0px 30px 0px;
  border-spacing: 0px;
}
.snd-grid-container .snd-grid-main .snd-grid-row.snd-grid-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #005399;
}
.snd-grid-container .snd-grid-main .snd-grid-row.snd-grid-head .snd-grid-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  font-size: 1em;
  padding: 10px;
  text-align: left;
  border-right: 1px solid #004782;
}
.snd-grid-container .snd-grid-main .snd-grid-row.snd-grid-head .snd-grid-item:last-child {
  border-right: none;
}
.snd-grid-container .snd-grid-main .snd-grid-body-container {
  overflow-y: auto;
}
.snd-grid-container .snd-grid-main .snd-grid-body-container .snd-grid-row.snd-grid-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.snd-grid-container .snd-grid-main .snd-grid-body-container .snd-grid-row.snd-grid-body .snd-grid-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.85em;
  padding: 5px 10px;
  text-align: left;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-right: 1px solid #e0e0e0;
}
.snd-grid-container .snd-grid-main .snd-grid-body-container .snd-grid-row.snd-grid-body .snd-grid-item .snd-grid-mobile-title {
  display: none;
}
.snd-grid-container .snd-grid-main .snd-grid-body-container .snd-grid-row.snd-grid-body .snd-grid-item:last-child {
  border-right: none;
}
.snd-grid-container .snd-grid-main .snd-grid-body-container .snd-grid-row.snd-grid-body:nth-child(even) .snd-grid-item {
  background-color: #ededed;
}
.snd-grid-container .snd-grid-main.click-items .snd-grid-row.snd-grid-body {
  cursor: pointer;
}
.snd-grid-container .snd-grid-main.click-items .snd-grid-row.snd-grid-body:hover .snd-grid-item,
.snd-grid-container .snd-grid-main.click-items .snd-grid-row.snd-grid-body:nth-child(even):hover .snd-grid-item {
  background-color: #e0e0e0;
}
.snd-grid-container .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0px;
  padding-top: 10px;
}
.snd-grid-container .pagination span {
  cursor: pointer;
  color: #005399;
  padding: 2px 5px;
  border-radius: 3px;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.snd-grid-container .pagination span:hover {
  background-color: #ededed;
  color: #006fcc;
}
.snd-grid-container .pagination span.selected {
  background-color: #005399;
  color: #fff;
}
.snd-grid-container .pagination span.disable span {
  color: rgba(0,83,153,0.3);
  cursor: default;
}
.snd-grid-container .pagination span.disable:hover,
.snd-grid-container .pagination span.disable:hover span {
  background-color: transparent;
}
.snd-grid-container .snd-grid-sorting-container .snd-grid-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.snd-grid-container .snd-grid-sorting-container .snd-grid-sorting span {
  line-height: 1.2em;
  margin-right: 5px;
  color: #005399;
  font-weight: 700;
  font-size: 1.2em;
}
.snd-grid-container .snd-grid-sorting-container .snd-grid-sorting .sorting-selector {
  position: relative;
}
.snd-grid-container .snd-grid-sorting-container .snd-grid-sorting .sorting-selector span {
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-51%);
          transform: translateY(-51%);
}
.snd-grid-container .snd-grid-sorting-container .snd-grid-sorting .sorting-selector select {
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline;
  width: auto;
  border: none;
  color: #005399;
  font-weight: 700;
  font-size: 1.2em;
  padding: 0px 20px 0px 0px;
  cursor: pointer;
}
.snd-grid-container .snd-grid-search-container .snd-grid-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.snd-grid-container .snd-grid-search-container .snd-grid-search span {
  line-height: 1.2em;
  margin-right: 5px;
  color: #005399;
  font-weight: 700;
  font-size: 1.2em;
  cursor: pointer;
}
.snd-grid-container .snd-grid-search-container .snd-grid-search input {
  width: 0px;
  max-width: 350px;
  border-radius: 0px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #005399;
  -webkit-transition: all 550ms ease-in-out;
  transition: all 550ms ease-in-out;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.snd-grid-container .snd-grid-search-container .snd-grid-search input.open {
  width: 100%;
}
.snd-grid-detail-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.9);
  z-index: 999999;
}
.snd-grid-detail-container .snd-grid-detail-close {
  position: absolute;
  top: -10px;
  right: -10px;
  color: #005399;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: #fff;
  z-index: 99999;
}
.snd-grid-detail-container .snd-grid-detail-close:hover {
  color: #006fcc;
}
.snd-grid-detail-container .snd-grid-detail {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 50vw;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #e0e0e0;
}
.snd-grid-detail-container .snd-grid-detail header h1 {
  border-color: #002a4d;
}
.snd-grid-detail-container .snd-grid-detail .loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ededed;
  border-radius: 3px;
}
.snd-grid-custom-detail-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 999999;
}
.snd-grid-custom-detail-overlay .snd-grid-custom-detail {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  height: 80vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  z-index: 9;
  overflow-y: auto;
  border: 2px solid #e0e0e0;
  padding: 20px;
  border-radius: 5px;
}
.snd-grid-custom-detail-overlay .snd-grid-custom-detail .snd-grid-detail-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #005399;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.snd-grid-custom-detail-overlay .snd-grid-custom-detail .snd-grid-detail-close:hover {
  color: #006fcc;
}
.snd-grid-custom-detail-overlay .snd-grid-custom-detail .snd-grid-custom-detail-content {
  padding: 10px;
  width: 960px;
  height: 100%;
}
.snd-login-container {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.snd-login-container .snd-login {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  border: 3px solid #ededed;
}
.snd-login-container .snd-login figure {
  width: 120px;
  margin: 10px auto 20px auto;
}
.snd-login-container .snd-login figure img {
  width: 100%;
}
.snd-login-container .snd-login form {
  width: 100%;
}
.snd-login-container .snd-login form .form-group label {
  margin-bottom: 0px;
}
.snd-login-container .snd-login form .form-group .input-group {
  position: relative;
}
.snd-login-container .snd-login form .form-group .input-group span.fa {
  position: absolute;
  z-index: 999;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #005399;
}
.snd-login-container .snd-login form .form-group .input-group input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #002a4d;
  border-radius: 0px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  padding-left: 25px !important;
}
.snd-login-container .snd-login form .form-group .input-group input:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.snd-login-container .snd-login span.reset-password {
  font-size: 0.8em;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #005399;
  cursor: pointer;
}
.snd-login-container .snd-login span.reset-password:hover {
  color: #005399;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #005399;
  text-decoration: none;
}
.snd-menu.horizontal {
  margin-bottom: 50px;
}
.snd-menu.horizontal .snd-mobile-menu {
  display: none;
}
.snd-menu.horizontal .navbar {
  border-bottom: 4px solid #005399;
  padding-bottom: 10px;
  z-index: 99;
}
.snd-menu.horizontal .navbar .scrollarea {
  overflow: visible;
}
.snd-menu.horizontal .navbar .scrollarea .scrollarea-content {
  overflow: visible;
}
.snd-menu.horizontal .navbar .navbar-brand {
  height: 35px;
  width: 100px;
  background-image: url("snd_logo.gif");
  background-size: 90px;
  background-position: center;
  background-repeat: no-repeat;
}
.snd-menu.horizontal .navbar .navbar-brand img {
  display: none;
}
.snd-menu.horizontal .navbar a {
  border: none;
}
.snd-menu.horizontal .navbar .navbar-nav {
  border: none;
  margin-bottom: 0px !important;
  margin-top: 0px;
}
.snd-menu.horizontal .navbar .nav-item {
  list-style: none;
  position: relative;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  border-radius: 0px;
  border-right: 1px solid #e0e0e0;
  padding-bottom: 0px;
}
.snd-menu.horizontal .navbar .nav-item:last-child {
  border-right: none;
}
.snd-menu.horizontal .navbar .nav-item a {
  color: #002a4d;
  font-size: 0.9em;
  border-radius: 0px;
  padding: 2px 10px;
  cursor: pointer;
}
.snd-menu.horizontal .navbar .nav-item:hover {
  border-right: 1px solid transparent;
}
.snd-menu.horizontal .navbar .nav-item:hover a {
  background-color: #005399;
  color: #fff;
  border-radius: 3px;
}
.snd-menu.horizontal .navbar .nav-item ul.nav-dropdown {
  display: none;
  position: absolute;
  top: calc(100% - 3px);
  left: 50%;
  width: auto;
  min-width: 150px;
  padding-left: 0px;
  background-color: #005399;
  margin-top: 0px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 3px;
  margin-bottom: 0px !important;
}
.snd-menu.horizontal .navbar .nav-item ul.nav-dropdown li {
  text-align: left;
  border: none;
  border-radius: 5px;
}
.snd-menu.horizontal .navbar .nav-item ul.nav-dropdown li a {
  font-size: 0.7em;
  color: #fff;
  padding: 10px 20px;
  background-color: transparent;
}
.snd-menu.horizontal .navbar .nav-item ul.nav-dropdown li a:hover {
  background-color: #006fcc;
  color: #ededed;
}
.snd-menu.horizontal .navbar .nav-item:hover ul.nav-dropdown {
  display: block;
}
.snd-menu.horizontal .navbar .nav-item:hover span {
  display: block;
}
.snd-menu.horizontal #user-data-container {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.snd-menu.horizontal #user-data-container #user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.snd-menu.horizontal #user-data-container #user-data figure {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 0px 5px 0px 0px;
}
.snd-menu.horizontal #user-data-container #user-data figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 50%;
}
.snd-menu.horizontal #user-data-container #user-data p {
  font-size: 0.9em;
  font-weight: 700;
}
.snd-menu.horizontal #user-data-container #user-data span.user-icon {
  color: #005399;
  font-size: 0.8em;
  margin-right: 5px;
}
.snd-menu.horizontal #user-data-container #user-data span.logout {
  background-color: #e0e0e0;
  color: #005399;
  font-size: 0.8em;
  padding: 3px 5px;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.snd-menu.horizontal #user-data-container #user-data span.logout:hover {
  background-color: #005399;
  color: #fff;
}
.snd-menu.vertical {
  min-width: 250px;
  max-width: 250px;
  position: fixed;
  top: 0;
  left: 0;
}
.snd-menu.vertical .snd-mobile-menu {
  display: none;
}
.snd-menu.vertical .navbar {
  z-index: 99;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
  background-color: #005399;
}
.snd-menu.vertical .navbar .scrollarea {
  width: 100%;
}
.snd-menu.vertical .navbar .scrollarea .scrollbar-container.vertical {
  width: 8px;
  opacity: 0.5;
}
.snd-menu.vertical .navbar .scrollarea .scrollbar-container.vertical .scrollbar {
  background: #002a4d;
  border-radius: 5px;
  width: 5px;
}
.snd-menu.vertical .navbar .navbar-brand {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(0,42,77,0.4);
  background-image: url("snd_logo_mobile.png");
  background-size: 90px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px 0px;
  -webkit-transition: unset;
  transition: unset;
}
.snd-menu.vertical .navbar .navbar-nav {
  border: none;
  margin-bottom: 0px !important;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.snd-menu.vertical .navbar .nav-item {
  list-style: none;
  position: relative;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.snd-menu.vertical .navbar .nav-item .nav-link {
  color: #fff;
  font-size: 0.8em;
  cursor: pointer;
  padding: 10px;
  border-left: 0px solid transparent;
  border-bottom: 1px solid rgba(0,42,77,0.4);
}
.snd-menu.vertical .navbar .nav-item .nav-link:hover {
  border-left: 5px solid transparent;
}
.snd-menu.vertical .navbar .nav-item .nav-link.show,
.snd-menu.vertical .navbar .nav-item .nav-link.active {
  border-left: 5px solid rgba(0,42,77,0.8);
  background-color: rgba(0,111,204,0.5);
}
.snd-menu.vertical .navbar .nav-item .nav-link.active {
  border-left: 5px solid #fff;
}
.snd-menu.vertical .navbar .nav-item .nav-link.show + .nav-dropdown,
.snd-menu.vertical .navbar .nav-item .nav-link.active + .nav-dropdown {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  height: auto;
}
.snd-menu.vertical .navbar .nav-item ul.nav-dropdown {
  width: 100%;
  height: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  padding-left: 0px;
  margin-top: 0px;
  border-radius: 3px;
  margin-bottom: 0px !important;
  overflow: hidden;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.snd-menu.vertical .navbar .nav-item ul.nav-dropdown li {
  text-align: left;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.snd-menu.vertical .navbar .nav-item ul.nav-dropdown li a {
  display: block;
  font-size: 0.7em;
  color: #fff;
  padding: 10px 20px;
  background-color: rgba(0,111,204,0.5);
  font-weight: 400;
}
.snd-menu.vertical .navbar .nav-item ul.nav-dropdown li a:hover {
  background-color: #006fcc;
  border-left-color: transparent;
}
.snd-menu.vertical .navbar .nav-item ul.nav-dropdown.open {
  display: block;
}
.snd-menu.vertical #user-data-container {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 3px;
}
.snd-menu.vertical #user-data-container #user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.snd-menu.vertical #user-data-container #user-data:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 100%;
  background-color: rgba(0,42,77,0.2);
}
.snd-menu.vertical #user-data-container #user-data figure {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 0px 5px 0px 0px;
}
.snd-menu.vertical #user-data-container #user-data figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 50%;
}
.snd-menu.vertical #user-data-container #user-data p {
  font-size: 0.9em;
  font-weight: 700;
  color: #fff;
  margin: 5px 0px 5px 0px;
}
.snd-menu.vertical #user-data-container #user-data span.user-icon {
  color: #fff;
  font-size: 0.8em;
  margin-right: 10px;
}
.snd-menu.vertical #user-data-container #user-data span.logout {
  background-color: #005399;
  color: #fff;
  font-size: 0.8em;
  padding: 3px 5px;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.snd-menu.vertical #user-data-container #user-data span.logout:hover {
  background-color: #fff;
  color: #006fcc;
}
#modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.9);
  z-index: 999;
  font-family: 'Roboto Condensed', sans-serif;
}
#modal-overlay #modal-container {
  width: 50%;
  padding: 20px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
/*border 1px solid #e0e0e0*/
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
          box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
#modal-overlay #modal-container p,
#modal-overlay #modal-container #cont-botones {
  text-align: center;
}
#modal-overlay #modal-container p .boton,
#modal-overlay #modal-container #cont-botones .boton {
  display: inline-block;
}
#modal-overlay #modal-container #btn-cerrar-modal {
  border-radius: 50%;
  background-color: #005399;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: -10px;
  right: -10px;
  background-image: url("btn_cerrar_modal.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 10px;
  cursor: pointer;
}
#modal-overlay #modal-container iframe {
  border: none;
  width: 100%;
}
.snd-searchbox {
  position: relative;
}
.snd-searchbox ul {
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  max-height: 150px;
  overflow-y: scroll;
  background-color: #fff;
  z-index: 999;
  min-width: 100%;
}
.snd-searchbox ul.hide {
  display: none;
}
.snd-searchbox ul li {
  display: block;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
}
.snd-searchbox ul li:hover {
  background-color: #006fcc;
  color: #fff;
}
.snd-searchbox input + span.error {
  font-size: 11px;
  color: #f00;
  position: absolute;
  top: calc(100% + 3px);
  left: 7px;
}
section {
  margin: 30px auto;
  border: 1px solid rgba(0,83,153,0.2);
  padding: 10px;
  border-radius: 3px;
}
section header {
  margin-top: 0px;
  position: relative;
}
section header h1 {
  display: inline-block;
  width: 100%;
  color: #005399;
  border-bottom: 1px solid rgba(0,83,153,0.2);
  font-size: 1.5em;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
section h2 {
  font-size: 1.3em;
  color: #005399;
  font-style: italic;
  font-weight: 400;
}
section p {
  text-align: justify;
}
section.expandible {
  height: 43px;
  overflow: hidden;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
section.expandible.expanded {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
section.expandible h1 {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
section.expandible h1:hover {
  cursor: pointer;
  color: #006fcc;
}
section.expandible .snd-section-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #005399;
  font-size: 1.6em;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
section.expandible .snd-section-btn:hover {
  color: #006fcc;
}
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #002a4d;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
table {
  width: 100%;
  margin: 30px 0px;
  border-spacing: 0px;
  border-collapse: none;
  border-color: none;
}
table thead tr th {
  background-color: #005399;
  color: #fff;
  font-size: 1em;
  padding: 10px;
  text-align: left;
  border-right: 1px solid #004782;
}
table thead tr th:last-child {
  border-right: none;
}
table tbody tr {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
table tbody tr td {
  font-size: 1em;
  padding: 10px;
  text-align: left;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
table tbody tr:nth-child(even) td {
  background-color: #ededed;
}
table tbody tr:last-child td:first-child {
  border-radius: 0px 0px 0px 3px;
}
table tbody tr:last-child td:last-child {
  border-radius: 0px 0px 3px 0px;
}
table.click-items tbody tr {
  cursor: pointer;
}
table.click-items tbody tr:hover,
table.click-items tbody tr:nth-child(even):hover {
  -webkit-box-shadow: 3px 0px 0px rgba(0,42,77,0.35), -3px 0px 0px rgba(0,42,77,0.35);
          box-shadow: 3px 0px 0px rgba(0,42,77,0.35), -3px 0px 0px rgba(0,42,77,0.35);
}
table.click-items tbody tr:hover td,
table.click-items tbody tr:nth-child(even):hover td {
  background-color: #e0e0e0;
  -webkit-transform-origin: 25% 50%;
          transform-origin: 25% 50%;
  z-index: 999;
}
.snd-table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 20px 0px;
}
.snd-table-container .snd-table-message {
  background-color: #ededed;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  margin-top: 20px;
}
.snd-table-container .snd-table-message p {
  font-size: 1em;
  font-weight: 400;
  color: #868686;
}
#main {
  padding: 0px 0px 20px 0px;
  font-family: 'Roboto Condensed', sans-serif;
}
.snd-toast-container.horizontal {
  position: fixed;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-110%);
          transform: translateX(-50%) translateY(-110%);
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #005399;
  border-radius: 3px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 3px rgba(0,42,77,0.5);
          box-shadow: 0px 0px 3px rgba(0,42,77,0.5);
  z-index: 999999;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.snd-toast-container.horizontal.show {
  -webkit-transform: translateX(-50%) translateY(0%);
          transform: translateX(-50%) translateY(0%);
  top: 20px;
}
.snd-toast-container.horizontal p {
  color: #fff;
  font-size: 1em;
}
.snd-toast-container.vertical {
  position: fixed;
  top: 20px;
  right: -100%;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #005399;
  border-radius: 3px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 3px rgba(0,42,77,0.5);
          box-shadow: 0px 0px 3px rgba(0,42,77,0.5);
  z-index: 999999;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.snd-toast-container.vertical.show {
  right: calc(0% + 20px);
}
.snd-toast-container.vertical p {
  color: #fff;
  font-size: 1em;
}
@media screen and (max-width: 767px) {
  .snd-code {
    margin-bottom: 20px;
  }
  .snd-code .snd-code-titulo {
    font-size: 1.1em;
    font-weight: 700;
    margin: 0px;
    color: #005399;
  }
  .snd-code .snd-code-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    min-height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .snd-code .snd-code-container pre {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: auto;
    margin-bottom: 0px;
  }
  .snd-code .snd-code-container .button {
    min-width: auto;
    padding: 0px 15px;
    min-height: 34px;
    border-radius: 0px 0px 3px 3px;
    margin: 0px;
  }
  .snd-code .snd-code-container .button span {
    margin-right: 0px;
  }
  .snd-code pre,
  pre,
  .snd-code .hll {
    background-color: #ededed;
    padding: 6px 10px;
    border-radius: 3px 0px 0px 3px;
    color: #005399;
    font-size: 1em;
    height: 45px;
    overflow-y: hidden;
  }
}
@media screen and (max-width: 767px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .snd-global-container.vertical .snd-container,
  .snd-global-container.vertical .snd-container.l,
  .snd-global-container.vertical .snd-container.m,
  .snd-global-container.vertical .snd-container.s {
    padding: 70px 5px 10px 5px;
    z-index: 9;
    width: 100%;
    height: auto;
  }
  .snd-global-container.vertical .snd-container p,
  .snd-global-container.vertical .snd-container.l p,
  .snd-global-container.vertical .snd-container.m p,
  .snd-global-container.vertical .snd-container.s p {
    text-align: justify;
  }
  .up {
    display: none !important;
  }
  .container {
    padding: 0px;
  }
}
@media screen and (max-width: 768px) {
  footer p {
    text-align: center !important;
  }
}
@media screen and (max-width: 768px) {
  .snd-grid-container {
    overflow: inherit !important;
  }
  .snd-grid-container .snd-grid-main {
    height: auto;
  }
  .snd-grid-container .snd-grid-main.scrollable .snd-grid-body {
    width: 100%;
    height: 100vh !important;
    overflow-y: inherit !important;
  }
  .snd-grid-container .snd-grid-main .snd-grid-row.snd-grid-head {
    display: none;
  }
  .snd-grid-container .snd-grid-main .snd-grid-body-container .snd-grid-row.snd-grid-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    margin: 2px auto;
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #ededed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0px;
  }
  .snd-grid-container .snd-grid-main .snd-grid-body-container .snd-grid-row.snd-grid-body .snd-grid-item {
    font-size: 0.9em;
    padding: 2px 10px;
    text-align: left;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    border-right: none;
    background-color: transparent !important;
    width: 100%;
    display: block;
  }
  .snd-grid-container .snd-grid-main .snd-grid-body-container .snd-grid-row.snd-grid-body .snd-grid-item .snd-grid-mobile-title {
    display: inline;
    font-weight: 700;
    color: #005399;
    margin-right: 5px;
  }
  .snd-grid-container .snd-grid-main .snd-grid-body-container .snd-grid-row.snd-grid-body .snd-grid-item:last-child {
    border-right: none;
  }
  .snd-grid-container .snd-grid-main .snd-grid-body-container .snd-grid-row.snd-grid-body:nth-child(even) .snd-grid-item {
    background-color: transparent !important;
  }
  .snd-grid-container .snd-grid-main .snd-grid-search-container .snd-grid-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
  .snd-grid-container .snd-grid-main .snd-grid-search-container .snd-grid-search span {
    line-height: 1.2em;
    margin-right: 5px;
    color: #005399;
    font-weight: 700;
    font-size: 1.2em;
    cursor: pointer;
  }
  .snd-grid-container .snd-grid-main .snd-grid-search-container .snd-grid-search input {
    width: 100%;
    max-width: 100%;
    border-radius: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #005399;
    -webkit-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .snd-grid-container .snd-grid-main .snd-grid-search-container .snd-grid-search input.open {
    width: 100%;
  }
  .snd-grid-container .pagination {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0px;
    padding-top: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .snd-grid-container .pagination span {
    cursor: pointer;
    color: #005399;
    padding: 2px 5px;
    border-radius: 3px;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .snd-grid-container .pagination span:hover {
    background-color: #ededed;
    color: #006fcc;
  }
  .snd-grid-container .pagination span.selected {
    background-color: #005399;
    color: #fff;
  }
  .snd-grid-container .pagination span.disable span {
    color: rgba(0,83,153,0.3);
    cursor: default;
  }
  .snd-grid-container .pagination span.disable:hover,
  .snd-grid-container .pagination span.disable:hover span {
    background-color: transparent;
  }
  .snd-grid-detail-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,0.9);
    z-index: 999999;
  }
  .snd-grid-detail-container .snd-grid-detail-close {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #005399;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    background-color: #fff;
    z-index: 99999;
  }
  .snd-grid-detail-container .snd-grid-detail-close:hover {
    color: #006fcc;
  }
  .snd-grid-detail-container .snd-grid-detail {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 90vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    border: 2px solid #e0e0e0;
  }
  .snd-grid-detail-container .snd-grid-detail header h1 {
    border-color: #002a4d;
  }
  .snd-grid-detail-container .snd-grid-detail .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #ededed;
    border-radius: 3px;
  }
  .snd-grid-custom-detail-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 999999;
  }
  .snd-grid-custom-detail-overlay .snd-grid-custom-detail {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    height: 90vh;
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    z-index: 9;
    overflow-y: auto;
    border: 2px solid #e0e0e0;
    padding: 15px 5px 5px 5px;
    border-radius: 5px;
  }
  .snd-grid-custom-detail-overlay .snd-grid-custom-detail .snd-grid-detail-close {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #005399;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .snd-grid-custom-detail-overlay .snd-grid-custom-detail .snd-grid-detail-close:hover {
    color: #006fcc;
  }
  .snd-grid-custom-detail-overlay .snd-grid-custom-detail .snd-grid-custom-detail-content {
    padding: 10px;
    width: 960px;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .snd-login figure {
    display: none;
  }
  .snd-login span.reset-password {
    margin-top: 20px;
    font-size: 1.2em;
  }
}
@media screen and (max-width: 768px) {
  .snd-menu,
  .snd-menu.vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
    margin-bottom: 0px;
    background-color: #005399;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 99999;
  }
  .snd-menu .snd-mobile-menu,
  .snd-menu.vertical .snd-mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0;
    color: #fff;
    height: 60px;
    width: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 99999;
  }
  .snd-menu .snd-mobile-menu.menu-open,
  .snd-menu.vertical .snd-mobile-menu.menu-open {
    background-color: #005399;
    color: #fff;
  }
  .snd-menu .navbar,
  .snd-menu.vertical .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: none;
    position: relative;
    min-height: 60px;
    height: auto;
    width: 100%;
  }
  .snd-menu .navbar .scrollarea,
  .snd-menu.vertical .navbar .scrollarea {
    width: 100%;
    overflow: visible;
  }
  .snd-menu .navbar .scrollarea .scrollarea-content,
  .snd-menu.vertical .navbar .scrollarea .scrollarea-content {
    overflow: visible;
  }
  .snd-menu .navbar .navbar-brand,
  .snd-menu.vertical .navbar .navbar-brand {
    background-image: url("snd_logo_mobile.png");
    background-color: transparent;
  }
  .snd-menu .navbar .navbar-nav,
  .snd-menu.vertical .navbar .navbar-nav {
    border: none;
    margin-bottom: 0px !important;
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 0;
    top: 3px;
    background-color: #005399;
    width: 100%;
    display: none;
    border-top: 1px solid rgba(0,42,77,0.4);
  }
  .snd-menu .navbar .navbar-nav.open,
  .snd-menu.vertical .navbar .navbar-nav.open {
    display: block;
  }
  .snd-menu .navbar .navbar-brand,
  .snd-menu.vertical .navbar .navbar-brand {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 0px;
  }
  .snd-menu .navbar .navbar-brand img,
  .snd-menu.vertical .navbar .navbar-brand img {
    width: 100%;
  }
  .snd-menu .navbar #user-data-container,
  .snd-menu.vertical .navbar #user-data-container {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
  }
  .snd-menu .navbar .nav-item,
  .snd-menu.vertical .navbar .nav-item {
    display: block;
    list-style: none;
    position: relative;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    border-radius: 0px;
    border-right: none;
    width: 100%;
  }
  .snd-menu .navbar .nav-item .nav-link,
  .snd-menu.vertical .navbar .nav-item .nav-link {
    color: #fff;
    font-size: 1.1em;
    border-radius: 0px;
    padding: 10px;
    cursor: pointer;
  }
  .snd-menu .navbar .nav-item .nav-link.show,
  .snd-menu.vertical .navbar .nav-item .nav-link.show {
    border-left: 5px solid rgba(0,42,77,0.8);
    background-color: rgba(0,111,204,0.5);
  }
  .snd-menu .navbar .nav-item .nav-link:hover,
  .snd-menu.vertical .navbar .nav-item .nav-link:hover {
    border-left: 3px solid transparent;
  }
  .snd-menu .navbar .nav-item .nav-link.show + .nav-dropdown,
  .snd-menu.vertical .navbar .nav-item .nav-link.show + .nav-dropdown,
  .snd-menu .navbar .nav-item .nav-link.active + .nav-dropdown,
  .snd-menu.vertical .navbar .nav-item .nav-link.active + .nav-dropdown {
    display: block;
  }
  .snd-menu .navbar .nav-item ul.nav-dropdown,
  .snd-menu.vertical .navbar .nav-item ul.nav-dropdown {
    display: none;
    width: auto;
    min-width: 150px;
    padding-left: 0px;
    background-color: #005399;
    margin-top: 7px;
    border-radius: 3px;
    margin-bottom: 0px !important;
  }
  .snd-menu .navbar .nav-item ul.nav-dropdown li,
  .snd-menu.vertical .navbar .nav-item ul.nav-dropdown li {
    text-align: left;
    border: none;
    border-radius: 5px;
    padding: 2px 0px;
  }
  .snd-menu .navbar .nav-item ul.nav-dropdown li a,
  .snd-menu.vertical .navbar .nav-item ul.nav-dropdown li a {
    font-size: 0.9em;
    color: #fff;
    padding: 10px 20px 10px 40px;
    background-color: transparent;
  }
  .snd-menu .navbar .nav-item ul.nav-dropdown li a:hover,
  .snd-menu.vertical .navbar .nav-item ul.nav-dropdown li a:hover {
    background-color: transparent;
    color: #ededed;
  }
  .snd-menu #user-data-container #user-data .user-icon,
  .snd-menu.vertical #user-data-container #user-data .user-icon {
    color: #fff !important;
  }
  .snd-menu #user-data-container #user-data p,
  .snd-menu.vertical #user-data-container #user-data p {
    color: #fff;
    font-size: 0.65em;
    font-weight: 400;
  }
}
@media screen and (max-width: 768px) {
  #modal-overlay #modal-container {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .snd-toast-container {
    width: 90vw;
  }
  .snd-toast-container p {
    text-align: center;
  }
}
#grupo-colores {
  margin: 30px 0px;
}
#grupo-colores .color {
  float: left;
  width: 100px;
  margin-right: 30px;
}
#grupo-colores .color:last-child {
  margin-right: 0px;
}
#grupo-colores .color .muestra {
  width: 100px;
  height: 100px;
}
#grupo-colores .color span {
  margin: 2px 0px;
  display: block;
  font-size: 11px;
}
